<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>We recieved your request to reset your user setup token.  Please follow the link below to continue setting up your account.</p>
		<p><a href="http://localhost:3000/relay/?email=#{@email}&token=#{@token}" target="_blank">Continue Setup</a></p>
	</body>
</html>