body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #b5b8bb;
    font-weight: normal;
    margin: 25px;
}

a {
    font-size: 1.2em;
    color: #0088cc;
    text-decoration: none;
}

li {
    display: inline;
    list-style-stpe: none;
    padding-right: 20px;
}